{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nicholas Martino</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.3.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<p></p>
<h3 class="section-title">{{ project.title }}</h3>
<div class="row">
    <div class="col-lg-7 col-md-7 portfolio-item filter-app" align="center">
        <img src="{% static project.image %}" alt="" width="95%">
        <p>{{ project.detailed_description|safe }}</p>
    </div>
    <div class="col-lg-5 col-md-5 portfolio-item filter-app">
        <div align="left">
            <h6>About the project:</h6>
            <small>{{ project.description|safe }}</small>
            <br>
            <h6>Technologies used:</h6>
            <small>{{ project.technologies }}</small>
            <br>
            <br>
            <h6>Project date:</h6>
            <small>{{ project.date }}</small>
        </div>
    </div>
</div>
<div class="row">
    <p>{{ project.bottom_row|safe }}</p>
</div>
