{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nicholas Martino</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.3.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<div class="row" style="width:40vw; margin:0 auto; margin-top: 50px">
<h3 class="section-title" style="font-family:Cormorant Garamond; font-size:54">{{ project.title }}</h3>
<div class="row">
    <div class="col-lg-6">
        <small style="color:gray; font-family:Helvetica">{{ project.date }}</small>
    </div>
        <div class="col-lg-6" align="right">
        <small style="color:gray; font-family:Helvetica">Technologies: {{ project.technologies }}</small>
    </div>
</div>

<div class="row" style="width:40vw; font-family:Charter; font-size:20; margin-top: 40px">
    <h6 style="font-family:Helvetica; font-weight: 600; font-size:20">About the project</h6>
    <small>{{ project.description|safe }}</small>
    <p>{{ project.detailed_description|safe }}</p>
    <img src="{% static project.image %}" alt="" width="95%">
</div>
<div class="row" style="width:40vw; margin:0 auto; font-family:Charter; font-size:20">
    <p>{{ project.bottom_row|safe }}</p>
</div>
</div>